$dark_indigo: #1A323D;
//$term_green:  #41BC18;
$term_green: #00ff00;
$neon_green:  #58FF21;
$cream:       #EFE7BA;
//$rose:        #E0607E;
$rose: #c0c0c0;

@function make_hyph_divider($top) {
    $divider: '----------------------------------------------------------------------------------------------------------------------';
    @if $top {
        $divider: str-insert($divider, "\A", str-length($divider)+1)
    }
    @return $divider;
}


.menu {
    color: $term_green;
    padding-bottom: 36px;
    
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        white-space: nowrap;
        
        li {    
            text-overflow: ellipsis;
            display: inline;
            white-space: inherit;
            padding-right: 40px;
            padding-bottom: 0px;
            
            &:hover {
                color: $neon_green;
                text-decoration: underline;
            }
            
            &.active {
//                background-color: $rose;
                color: $rose;
            }
        }
    }
}


@mixin menu_divider {
    white-space: pre;
    overflow: hidden;
    position: relative;
}
.menu::before {
    @include menu_divider;
    content: make_hyph_divider(true);
}
.menu::after {
    @include menu_divider;
    content: make_hyph_divider(false);
}
