$dark_indigo: #1A323D;
$term_green:  #00ff00;
$cream:       #EFE7BA;
$grey:        #c0c0c0;

.menu {
    color: $term_green;
    border-style: dashed;
    border-color: $term_green;
    border-width: 2px 0px;
//    padding: 4px 0 4px 0;
    margin: 8px 0 36px 0;
    line-height: 180%;
    
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        white-space: nowrap;
        
        li {
            text-overflow: ellipsis;
            display: inline;
            white-space: inherit;
            padding-right: 40px;
            padding-bottom: 0px;
            
            &:hover {
                text-decoration: underline;
            }
            
            &.active {
                color: $grey;
            }
        }
    }
}
