@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');

$dark_indigo: #1D2D44;
$term_green:  #00ff00;
$neon_green:  #58FF21;
$cream:       #EFE7BA;
$grey:        #C0C0C0;

body {
    background-color: $dark_indigo;
    color: $cream;
    font-family: 'Fira Code';
}

.navbar_title a {
    white-space: nowrap;
    font-weight: bold;
    font-size: 260%;
    color: $term_green;
    text-decoration:none;
    margin: 0;
}

.navbar {
    color: $term_green;
    border-style: dashed;
    border-color: $term_green;
    border-width: 2px 0px;
    width: 880px;
    margin: 8px 0 36px 0;
    line-height: 180%;
    overflow: hidden;
    
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        white-space: nowrap;
        
        li {
            text-overflow: ellipsis;
            display: inline;
            margin-right: 40px;
            white-space: inherit;
            
            &:hover {
                text-decoration: underline;
            }
            
            &.current {
                color: $grey;
                
            }
            
            &:last-of-type {
                margin-right: 0;
            }
            
            & a {
                color: inherit;
                text-decoration: inherit;
            }
       }
    }
}


.title_container {
    padding-top: 10px;
    .post_title {
        font-size: 175%;
    }
    .post_title_underline{
        font-size: 175%;
        margin-top: -45px;
    }
}

img.post_img {
    display: block;
    padding-bottom: 36px;
    max-width: 880px;
}

.container {
  max-width: 700rem;
  margin-left: 128px;
    
  > p {
          max-width: 55rem;
      a {
          color: #00FFFF;
      }
    }
}

.container,
.container-fluid {
  margin: 36px 10%;
  padding: 0 1rem;
}


footer {
    font-size: 50%;
    text-align: center;
    opacity: 35%;
    align-self: center;
    margin: 64px 0 24px 0;
//    position: fixed;
}

