<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
    <title>{{page.title}}</title>
</head>
<body class="container">
<header><a href="index.html">Keating K. Reid</a></header>
<nav>
	<ul>
        {% for item in pages|selectattr("bar_exclude", 'false') -%}
            {%- if item == page -%}
            <li class="current">{{item.bar_title}}</li>
            {%- else -%}
            <li><a href="{{item.filename}}">{{item.bar_title}}</a></li>
            {%- endif -%}
        {%- endfor %}
	</ul>
</nav>
    <article>
        <header>
            <h1 class="post_title">
                {%- if page.article_title is not none -%}
                {{page.article_title}}
                {%- else -%}
                {{page.title}}
                {%- endif -%}
            </h1>
            {% if page.image_html is not none %} {{page.image_html}} {% endif %}
        </header>
        {{page.text}}
    </article>
    <footer>&nbsp;</footer>
    <script type="text/javascript">
        "use strict";
        window.addEventListener("DOMContentLoaded", () => { 
            document.getElementsByTagName("footer")[0].innerHTML =
                `<a href=licence.html>Copyright © ${new Date().getFullYear()} Keating Kenna Reid.</a>`;
        });
    </script>
</body>
</html>
